.main-photo {
  height: 375px;
  margin: 15px 49px 17px 47px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  &__img{
    width: 98%;
    margin:12px;

  }

}
